extends ../layout

block content
  h1 Listado de bicicletas
  br
  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicacion
        th(scope='col')
        th(scope='col')
    tbocy
      each bici in bicicletas
        tr
          td(scope='row') 
            = bici.code
          td= bici.color
          td= bici.modelo
          td= bici.ubicacion
          td
            a.btn.btn-secondary(href=`/bicicletas/${bici.code}/update`) Actualizar
          td
            form.inline(action=`/bicicletas/${bici.code}/delete` method='post')
              button.btn.btn-secondary(type='submit') Eliminar
  a(href='/bicicletas/create') Agregar nueva bicicleta